<mat-form-field appearance="outline" style="float: right;margin-right: 10px;" class="columnChooser">
    <mat-select  required multiple  (selectionChange)="onSelect($event)" [formControl]="columns">
        <mat-selection-list  [ngModel]="options" #filter>
            <mat-option (click)="none()" >None</mat-option>
            <mat-option (click)="selectAll()">select all</mat-option>
            <mat-list-option *ngFor="let column of displayedColumns" (click)="show(filter._value)" value="{{ column }}">
              {{ column }}
            </mat-list-option>
        </mat-selection-list>
    </mat-select>
    <mat-label>Select Fields</mat-label>
</mat-form-field> 

<div  class="table-holder">
<table mat-table [dataSource]="dataSource"  *ngIf="products" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="id" class="cell">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id" class="cell">Id</th>
        <td mat-cell *matCellDef="let product" >{{product.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
        <td mat-cell *matCellDef="let product">{{product.name}}</td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="category">Category</th>
        <td mat-cell *matCellDef="let product">{{product.category}}</td>
    </ng-container>

    <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="brand">Brand</th>
        <td mat-cell *matCellDef="let product">{{product.brand}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="price">Price</th>
        <td mat-cell *matCellDef="let product">{{product.price | currency: 'Rs.'}}</td>
    </ng-container>

    <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="discount">Discount</th>
        <td mat-cell *matCellDef="let product">{{product.discount}}</td>
    </ng-container>

    <ng-container matColumnDef="manfDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="manfDate">Manufacture Date</th>
        <td mat-cell *matCellDef="let product">{{product.manufDate | date}}</td>
    </ng-container>

    <ng-container matColumnDef="expDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="expDate">Expiry Date</th>
        <td mat-cell *matCellDef="let product">{{product.expDate | date}}</td>
        
    </ng-container>

    <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="rating">Rating</th>
        <td mat-cell *matCellDef="let product">{{product.rating}}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity">Quantity</th>
        <td mat-cell *matCellDef="let product">{{product.quantity}}</td>
    </ng-container>

    <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="unit">Unit</th>
        <td mat-cell *matCellDef="let product">{{product.unit}}</td>
    </ng-container>

    <ng-container matColumnDef="availability">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="availability">Availability</th>
        <td mat-cell *matCellDef="let product">{{product.availability}}</td>
    </ng-container>

    <ng-container matColumnDef="orginiOfCountry">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="orginiOfCountry">Orgini Of Country</th>
        <td mat-cell *matCellDef="let product">{{product.orginiOfCountry}}</td>
    </ng-container>

    <ng-container matColumnDef="barcodeNum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="barcodeNum">Barcode Number</th>
        <td mat-cell *matCellDef="let product">{{product.barcodeNum}}</td>
    </ng-container>

    <ng-container matColumnDef="storage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="storage">Storage</th>
        <td mat-cell *matCellDef="let product">{{product.storage}}</td>
    </ng-container>

    <ng-container matColumnDef="benefits">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="benefits">Benefits</th>
        <td mat-cell *matCellDef="let product">{{product.benefits}}</td>
    </ng-container>

    <ng-container matColumnDef="usedFor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="usedFor">Used for</th>
        <td mat-cell *matCellDef="let product">{{product.usedFor}}</td>
    </ng-container>

    <ng-container matColumnDef="container" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header="container">Container</th>
        <td mat-cell *matCellDef="let product">{{product.container}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="email">Email</th>
        <td mat-cell *matCellDef="let product">{{product.manfDetails.email}}</td>
    </ng-container>

    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="city">City</th>
        <td mat-cell *matCellDef="let product">{{product.manfDetails.city}}</td>
    </ng-container>

    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="state">State</th>
        <td mat-cell *matCellDef="let product">{{product.manfDetails.state}}</td>
    </ng-container>

    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="country">Country</th>
        <td mat-cell *matCellDef="let product">{{product.manfDetails.country}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef > Edit </th>
        <td mat-cell *matCellDef="let product" >
            <button mat-icon-button (click)="edit(product)" *ngIf="!roles.includes('User')" matTooltip="edit">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef > Delete </th>
        <td mat-cell *matCellDef="let product">
            <button mat-icon-button (click)="delete(product.id)" *ngIf="roles.includes('Manager')" matTooltip="delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
      </ng-container>

    <tr mat-header-row class="tableHeaderCellDiv" *matHeaderRowDef="options; sticky: true;" ></tr>
    <tr mat-row  (click)="getDetail(row)" *matRowDef="let row; columns: options" ></tr> 

</table>
</div>

