/* table{
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color:  #cae7f8;
    overflow: visible;
} 

 th{
    text-align: center;
    flex: 1;
}

tr{
    text-align: center;

    width: auto;
    text-align: center;
}

tr:hover{
    background-color: rgb(201, 201, 201);
    color:white;
} 


.title-holder {
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 10px;
  }

  .mat-header-row{
    width: 100%;
     text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: black;
  } */

.mat-row td {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
    position: relative;
    z-index: 1;
    text-align: center;
    color: black;    
} 

table{
    /* margin-top: 80px; */
    /* position: fixed; */
    overflow: none;
}

.mat-header-row{
    background: #f6f4f4; 
    background-color: rgb(201, 201, 201);
}

th.mat-header-cell{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 15px;

    width: 200px;
    height: 80px;
    padding-left: 10px;
    border-radius: none;

}


.mat-row td {
     height: 100%;
     padding-top: 1rem;
     padding-bottom: 1rem;
     border-bottom: none;
     position: relative;
     z-index: 1;
     border-radius: none;
     /* background-color: #aad7f9; */
}
   
.mat-row td::before {
     content: '';
     width: 100%;
     height: calc(100% - 0.5rem);
     position: absolute;
     /* background-color: #aad7f9; */
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     margin: auto;
     /* background-color: #DAF0FE; */
     /* border-radius: 12px; */
     border-bottom: 1px solid lightgray;
     border-radius: none;
     border-top: 1px solid lightgray;
}
/*    
.mat-row td:hover{
    background-color: rgb(201, 201, 201);
    color:white;
}  */

.mat-row:hover{
    /* background-color: rgb(201, 201, 201); */
    background-color: #E3E3E3;
    color:white;
    border-radius: none;
} 

/* .columnChooser{
    margin-top: 60px;
    position: fixed;
    top: 0;
    right: 0;
} */
