<!-- <div class="abc">
<mat-toolbar class="nav-bar">
    <mat-icon matTooltip="home" (click)="home()">home</mat-icon>
    <span class="title">Grocery App</span>
    
    {{username | titlecase}}
    <mat-icon [matMenuTriggerFor]="menu"> person</mat-icon>
    <div class="user">
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item (click)="logOut()"> Logout</button>
        </mat-menu>
    </div>
   
</mat-toolbar>

</div> -->

<mat-toolbar>
    <mat-icon matTooltip="home" (click)="home()">home</mat-icon>
    <span>Grocery App</span>
    {{username | titlecase}}
    <mat-icon> person</mat-icon>
    <button mat-button (click)="logOut()" matTooltip="logout"><mat-icon>logout</mat-icon></button>
</mat-toolbar>
<button mat-button (click)="back()" matTooltip="back"><mat-icon>arrow_back</mat-icon></button>