mat-toolbar{
    /* background:linear-gradient(to right, #D2122E , #fd5c63); */
    /* background: linear-gradient(to top, #ff0844 0%, #ffb199 100%); */
    /* background-color: #D2122E; */
    /* background-color: red; */
    background: linear-gradient(to top, #009FFD 0%, #454593 100%);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}

mat-icon:hover{
    transform: scale(1.05);
    color: red;
}

span{
    text-align: center;
    color: white;
    font-size: 30px;
}